<div class="aside">
<div class="aside-newitem">
    <span>New Items:</span>
</div>
<div class="aside-form">
    <form name="courseform"
          ng-submit="courseform.$valid && formctrl.addCourse(formctrl.course)"  novalidate>
        <ul class="form-ul">
            <li> <span> name:</span> <input  ng-model="formctrl.course.name" type="text" class="item" required></li>
            <li> <span> category:</span> <input ng-model="formctrl.course.category" type="text" class="item" required></li>
            <li> <span> image:</span> <input ng-model="formctrl.course.image" type="text" class="item"></li>
            <li> <span> des:</span>  <input ng-model="formctrl.course.des" type="text" class="item"></li>
            <li> <span> time:</span> <input ng-pattern="/^[0-9]{0,2}$/" ng-model="formctrl.course.time" type="text" class="item"></li>
        </ul>
        <div class="form-btn">
            <span class="errMsg" ng-show="courseform.$invalid">error</span>
            <span>{{formctrl.errors}}</span>
            <input type="submit" value="submit" class="btn_submit">
        </div>
    </form>
</div>
</div>